<div class="peopleCard">
  <p class="player-info-line">Name: {{name}}</p>
  <div class="deletePlayerCard">
    <button class="deletePlayerCardBtn" type="button" name="button" value="{{email}}">X</button>
  </div>
  <p class="player-info-line">Year: {{year}}</p>
  <p class="player-info-line">Email: {{email}}</p>
  <p class="player-info-line">Game: {{game}}</p>
  <p class="player-info-line">Username: {{username}}</p>
  <p class= "playerCardId">{{_id}}</p>
</div>
